// VARIABLES

// Modular grid
// $base-module: 8px;
$base-line-height: 24px;

// Fonts
$base-typeface:  'Roboto', sans-serif;
$base-font-size: 15px;
$base-font-weight: 400;

// Colors
$base-black-color: #000000;
$base-text-color: #555555;
$base-blue-color: #0088CC;

$second-black-color: #222222;

// Borders
// $base-border: 1px solid $border-color;

// Effects
$link-underline-opacity: 0.5;
$base-transition: 0.2s ease-in-out;