// Aside-menu
ul.aside-menu
    li.aside-menu__item
        a.aside-menu__link(href="./all-rent.html") Аренда спецтехники
    li.aside-menu__item
        a.aside-menu__link(href="./all-medical.html") Медицинское оборудование
    li.aside-menu__item
        a.aside-menu__link(href="") Металлопрокат
    li.aside-menu__item
        a.aside-menu__link(href="") Программные продукты
    li.aside-menu__item
        a.aside-menu__link(href="") Системы безопасности
    li.aside-menu__item
        a.aside-menu__link(href="") Системы вентиляции
    li.aside-menu__item
        a.aside-menu__link(href="") Стройматериалы
    li.aside-menu__item
        a.aside-menu__link(href="") Дизайнерская мебель