// Header
.header {
    background: url("../img/header/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.top-header {
    position: relative;
    padding: 29px 0;

    font-size: $base-font-size - 1;
    line-height: 20px;

    @include lg-block() {
        width: 100%;
        position: fixed;
        z-index: 1000;
        padding-top: 16px;
        padding-bottom: 14px;
        background-color: #e2eaec;
    }

    &__row {
        @include row-flex();
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        @include col();
        @include size-lg(12);
        @include lg-block() {
            &:not(:first-child) {
                margin: 0;
                width: 0;
            }
        }
    }


    &__slogan {
        max-width: 214px;
        color: #777777;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__adress {
        position: relative;
        max-width: 224px;
        padding-left: 20px;
        color: #222222;
        @include lg(display, none);

        &::before {
            content: "";
            position: absolute;
            left: 0;
            display: block;
            width: 13px;
            height: 16px;
            background: url(../img/svg/mark.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__city {
        color: #222222;
        @include lg(display, none);
    }

    &__tel {
        position: relative;
        display: block;
        padding-left: 20px;
        font-size: $base-font-size;
        font-weight: 700;
        color: #222222;
        @include lg(display, none);

        &::before {
            content: "";
            position: absolute;
            left: -2px;
            top: 4px;
            display: block;
            width: 14px;
            height: 14px;
            background: url(../img/svg/tel.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__button {
        @include lg(display, none);
    }

    &__work {
        padding-left: 20px;
        font-size: $base-font-size - 3;
        color: #888888;
        @include lg(display, none);
    }
}
