// Services
section.services
    .container
        a.section-link(href="#") Все услуги
        h2.services__title Наши услуги
        .row-flex
            .row-flex__col-3
                p.services__desc
                    | Специализируемся на услугах для малого и среднего бизнеса. Работаем с физическими и юридическими лицами.
                p.services__another-text
                    | 10 лет на рынке проектирования, консалтинга и крупных поставок промышленного оборудования.
                a.base-button(href="#") Подробнее
            .row-flex__col-9
                .services__card-inner
                    .services__big-card
                        .img-wrap
                        img.services__img(src="./img/services/img-1.jpg", alt="img-1")
                        .services__card-desc
                            span Английский язык для бизнеса
                            p Курсы делового общения на английском языке, построенные с учетем особенностей бизнес-среды.
                    .services__small-card
                        img.services__img(src="./img/services/img-2.jpg", alt="img-1")
                        .img-wrap
                        .services__card-desc
                            span Монтаж сайдинга
                            p Курсы делового общения на английском языке.
                    .services__small-card
                        img.services__img(src="./img/services/img-3.jpg", alt="img-1")
                        .img-wrap
                        .services__card-desc
                            span Охранные системы
                            p Курсы делового общения на английском языке.
                .services__card-inner
                    .services__small-card
                        img.services__img(src="./img/services/img-4.jpg", alt="img-1")
                        .img-wrap
                        .services__card-desc
                            span Сварочные работы
                            p Курсы делового общения на английском языке.
                    .services__small-card
                        img.services__img(src="./img/services/img-5.jpg", alt="img-1")
                        .img-wrap
                        .services__card-desc
                            span POS-системы
                            p Курсы делового общения на английском языке.
                    .services__big-card
                        img.services__img(src="./img/services/img-6.jpg", alt="img-1")
                        .img-wrap
                        .services__card-desc
                            span Дизайн интерьеров
                            p Курсы делового общения на английском языке, построенные с учетем особенностей бизнес-среды.
                    
