// All-products
section.all-products.all-services

    .content-header
        .container
            h1.content-header__title Услуги
            .bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Главная
                    li.bread-crumbs__item Услуги

    .container
        .all-products__row
            .all-products__col-3
                .all-products__aside
                    ul.aside-menu
                        li.aside-menu__item
                            a.aside-menu__link(href="./service.html") Автоматизация
                        li.aside-menu__item
                            a.aside-menu__link(href="") Аренда спецтехники
                        li.aside-menu__item
                            a.aside-menu__link(href="") Инженерные системы
                        li.aside-menu__item
                            a.aside-menu__link(href="") Металлоконструкции
                        li.aside-menu__item
                            a.aside-menu__link(href="") Отделка фасада
                        li.aside-menu__item
                            a.aside-menu__link(href="") Проектирование
                        

                    img.aside__banner(src="./img/banners/aside-banner-1.jpg" alt="")
                    .aside-advantages
                        .aside-advantages__item
                            img.aside-advantages__img(src="./img/icons/adv-item-1.png" alt="1")
                            .aside-advantages__title Оптимальный выбор
                            .aside-advantages__desc Низкие цены и широкий ассортимент
                        .aside-advantages__item
                            img.aside-advantages__img(src="./img/icons/adv-item-2.png" alt="2")
                            .aside-advantages__title Всегда рядом
                            .aside-advantages__desc Широкая сеть представительств
                    .aside-text 
                        p Цель нашей компании — предложение широкого ассортимента товаров и услуг на постоянно высоком качестве обслуживания.

            .all-products__col-9
                .content-wrapper
                    .all-products-content
                        .all-products-content__text
                            p
                                |Специализируемся на услугах различных направлений – от проектирования инженерных систем и монтажа металлоконструкций до аренды спецтехники и поставок медицинского оборудования. Хотите узнать подробнее об условиях сотрудничества? Свяжитесь с нами по почте или телефону. Проконсультируем, ответим на вопросы и подготовим индивидуальные условия сотрудничества.

                        .all-products-content__list
                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/services/item-1.jpg" alt="")
                                .list-item__text-inner
                                    a(href="./service.html")
                                        h3.list-item__title Автоматизация
                                    .list-item__links
                                        a.list-item__link(href="") Автоматизация отдела продаж
                                        a.list-item__link(href="") Комплексная автоматизация
                                        a.list-item__link(href="") POS-системы
                                    p.list-item__desc Инструменты для автоматизации торговли, взаимодействия с клиентами и других бизнес-процессов.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/services/item-2.jpg" alt="")
                                .list-item__text-inner
                                    a(href="")
                                        h3.list-item__title Аренда спецтехники
                                    .list-item__links
                                        a.list-item__link(href="") Экскаваторы
                                        a.list-item__link(href="") Манипуляторы
                                        a.list-item__link(href="") Самосвалы
                                        a.list-item__link(href="") Автокраны
                                    p.list-item__desc Любые виды спецтехники в аренду на длительный срок для строительных, землеройных и погрузочно - разгрузочных работ.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/services/item-3.jpg" alt="")
                                .list-item__text-inner
                                    a(href="")
                                        h3.list-item__title Инженерные системы
                                    .list-item__links
                                        a.list-item__link(href="") Системы электроосвещения
                                        a.list-item__link(href="") Видеонаблюдение
                                        a.list-item__link(href="") Охранные системы
                                        a.list-item__link(href="") Вентиляция
                                    p.list-item__desc Системы для поддержания жизнедеятельности в сооружениях любого назначения.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/services/item-4.jpg" alt="")
                                .list-item__text-inner
                                    a(href="")
                                        h3.list-item__title Металлоконструкции
                                    .list-item__links
                                        a.list-item__link(href="") Металлообработка
                                        a.list-item__link(href="") Сварочные работы
                                        a.list-item__link(href="") Монтаж металлоконструкций
                                    p.list-item__desc Услуги по изготовлению, обработке и монтажу и демонтажу металлических изделий.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/services/item-5.jpg" alt="")
                                .list-item__text-inner
                                    a(href="")
                                        h3.list-item__title Отделка фасада
                                    .list-item__links
                                        a.list-item__link(href="") Создание мокрого фасада
                                        a.list-item__link(href="") Облицовка блок-хаусом
                                        a.list-item__link(href="") Монтаж сайдинга
                                    p.list-item__desc Услуги по улучшению внешнего вида здания и его защите от факторов окружающей среды.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/services/item-6.jpg" alt="")
                                .list-item__text-inner
                                    a(href="")
                                        h3.list-item__title Проектирование
                                    .list-item__links
                                        a.list-item__link(href="") Электротехническое проектирование
                                        a.list-item__link(href="") Инженерные сети
                                        a.list-item__link(href="") Дизайн интерьеров
                                    p.list-item__desc Разработка, согласование и реализация проектов любой сложности.
