.hero-slider
    .hero-slider__item
        .hero
            .hero-item
                h1.hero__title Комплексная автоматизация бизнеса
                p.hero__desc
                    | Настраиваем и оптимизируем все бизнес-процессы компании – от работы отдела продаж до логистики. Бесплатное обучение сотрудников и техническая поддержка.
                button.hero__button.base-button Направления
                button.hero__button.hero__button--second.base-button Задать вопрос
            .hero-item
                img.hero__img(src="./img/hero/img-1.png", alt="img-1")
    .hero-slider__item
        .hero
            .hero-item
                h1.hero__title Комплексная автоматизация бизнеса
                p.hero__desc
                    | Настраиваем и оптимизируем все бизнес-процессы компании – от работы отдела продаж до логистики. Бесплатное обучение сотрудников и техническая поддержка.
                button.hero__button.base-button Направления
                button.hero__button.hero__button--second.base-button Задать вопрос
            .hero-item
                img.hero__img(src="./img/hero/img-1.png", alt="img-1")
    .hero-slider__item
        .hero
            .hero-item
                h1.hero__title Комплексная автоматизация бизнеса
                p.hero__desc
                    | Настраиваем и оптимизируем все бизнес-процессы компании – от работы отдела продаж до логистики. Бесплатное обучение сотрудников и техническая поддержка.
                button.hero__button.base-button Направления
                button.hero__button.hero__button--second.base-button Задать вопрос
            .hero-item
                img.hero__img(src="./img/hero/img-1.png", alt="img-1")