// Page-category
section.page-category

    .content-header
        .container
            h1.content-header__title Медицинское оборудование
            .bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Главная
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./all-products.html') Продукты
                    li.bread-crumbs__item Медицинское оборудование

    .container
        .page-category__row
            .page-category__col-3
                .all-products__aside
                    ul.aside-menu
                        li.aside-menu__item
                            a.aside-menu__link(href="./all-rent.html") Аренда спецтехники
                        li.aside-menu__item
                            a.aside-menu__link.active(href="") Медицинское оборудование
                            ul.sub-menu
                                li.sub-menu__item
                                    a.sub-menu__link(href="") Косметология
                                li.sub-menu__item
                                    a.sub-menu__link(href="") Лаборатория
                                li.sub-menu__item
                                    a.sub-menu__link(href="") Медицинская мебель
                                li.sub-menu__item
                                    a.sub-menu__link(href="") Рентгеновские аппараты
                        li.aside-menu__item
                            a.aside-menu__link(href="") Металлопрокат
                        li.aside-menu__item
                            a.aside-menu__link(href="") Программные продукты
                        li.aside-menu__item
                            a.aside-menu__link(href="") Системы безопасности
                        li.aside-menu__item
                            a.aside-menu__link(href="") Системы вентиляции
                        li.aside-menu__item
                            a.aside-menu__link(href="") Стройматериалы
                        li.aside-menu__item
                            a.aside-menu__link(href="") Дизайнерская мебель

                    img.aside__banner(src="./img/banners/aside-banner-1.jpg" alt="")
                    .aside-advantages
                        .aside-advantages__item
                            img.aside-advantages__img(src="./img/icons/adv-item-1.png" alt="1")
                            .aside-advantages__title Оптимальный выбор
                            .aside-advantages__desc Низкие цены и широкий ассортимент
                        .aside-advantages__item
                            img.aside-advantages__img(src="./img/icons/adv-item-2.png" alt="2")
                            .aside-advantages__title Всегда рядом
                            .aside-advantages__desc Широкая сеть представительств
                    .aside-text 
                        p Цель нашей компании — предложение широкого ассортимента товаров и услуг на постоянно высоком качестве обслуживания.

            .page-category__col-9
                .content-wrapper
                    h2.page-category__title Техника и мебель для учреждений здравоохранения разного уровня.
                    .page-category__list
                        .page-category__list-item.list-item
                            img.list-item__img(src="./img/products/icons/med-icon-1.png" alt="")
                            .list-item__text-inner
                                a(href="")
                                    h3.list-item__title Косметология
                                p.list-item__desc Медицинское оборудование для косметологического кабинета.

                        .page-category__list-item.list-item
                            img.list-item__img(src="./img/products/icons/med-icon-2.png" alt="")
                            .list-item__text-inner
                                a(href="")
                                    h3.list-item__title Лаборатория
                                p.list-item__desc Аппаратура для оснащения лаборатории любой направленности.

                        .page-category__list-item.list-item
                            img.list-item__img(src="./img/products/icons/med-icon-3.png" alt="")
                            .list-item__text-inner
                                a(href="")
                                    h3.list-item__title Медицинская мебель
                                .list-item__links
                                p.list-item__desc Надежная мебель, адаптированная для учреждений здравоохранения.

                        .page-category__list-item.list-item
                            img.list-item__img(src="./img/products/icons/med-icon-4.png" alt="")
                            .list-item__text-inner
                                a(href="")
                                    h3.list-item__title Рентгеновские аппараты
                                p.list-item__desc Оборудование для рентгенологических исследований широкого диапазона.

                    .all-products-content__text
                        p
                            |Правильность постановки диагнозов и назначенного лечения зависит от функциональности и точности медицинского оборудования. Мы предлагаем современное и высокотехнологичное оборудование для государственных и частных учреждений здравоохранения. Работаем с лучшими российскими и зарубежными производителями. В нашей компании вы сможете заказать оборудование, мебель, косметологические приборы и высокоточную аппаратуру для лабораторий.
                        p
                            | Опытные инженеры компании «Олл Корп» произведут качественную и оперативную установку оборудования, наладку и запуск в эксплуатацию. Наши специалисты обязательно проведут инструктаж по пользованию и уходу за оборудованием. Если в процессе эксплуатации возникнет поломка, то инженеры компании быстро устранят ее и дадут гарантию на свою работу.
