// About
section.about
    .container
        h3.about__title О компании в Челябинске
        .about__text-inner
            p
                | ООО "Компания" — учрежденное одним или несколькими юридическими или физическими лицами хозяйственное общество. Участники общества не отвечают по его обязательствам и несут риск убытков, в пределах стоимости принадлежащих им долей в уставном капитале общества.
            p
                |Общество с ограниченной ответственностью наряду с иными видами хозяйственных обществ.