// All-products
section.all-products

    .content-header
        .container
            h1.content-header__title Косметология
            .bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Главная
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Продукты
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Медицинское оборудование
                    li.bread-crumbs__item Косметология

    .container
        .all-products__row
            .all-products__col-3 33333333
            .all-products__col-9
                .content-wrapper
                    .all-products-content
                        .all-products-content__text
                            p
                                |Наша компания предоставляет инженерные услуги широкого профиля. Мы работаем с государственными и коммерческими организациями, крупными тендерами и индивидуальными предпринимателями. Мы гарантируем высокое качество обслуживания и безопасность эксплуатации нашей продукции.
                            p
                                | В работе мы придерживаемся комплексных решений, поэтому создаем многофункциональные системы, которые решают сразу несколько задач, и при этом просты в эксплуатации.

                        .all-products-content__list
                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-1.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Аренда спецтехники
                                    .list-item__links
                                        a.list-item__link(href="") Автокраны
                                        a.list-item__link(href="") Манипуляторы
                                        a.list-item__link(href="") Самосвалы
                                        a.list-item__link(href="") Экскаваторы
                                    p.list-item__desc Аренда спецтехники для строительных мероприятий любой сложности и направленности.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-2.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Медицинское оборудование
                                    .list-item__links
                                        a.list-item__link(href="") Косметология
                                        a.list-item__link(href="") Лаборатория
                                        a.list-item__link(href="") Медицинская мебель
                                        a.list-item__link(href="") Рентгеновские аппараты
                                    p.list-item__desc Техника и мебель для учреждений здравоохранения разного уровня.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-3.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Металлопрокат
                                    .list-item__links
                                        a.list-item__link(href="") Сортовой прокат из нержавеющей стали
                                        a.list-item__link(href="") Трубы нержавеющие
                                        a.list-item__link(href="") Сварочные материалы
                                        a.list-item__link(href="") Просечно-вытяжные листы
                                    p.list-item__desc Металлопрокат оптом и в розницу для промышленных предприятий.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-4.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Программные продукты
                                    .list-item__links
                                        a.list-item__link(href="") CRM системы
                                        a.list-item__link(href="") Хостинг
                                        a.list-item__link(href="") Продукты 1С
                                        a.list-item__link(href="") Операционные системы
                                    p.list-item__desc Программные продукты для эффективной работы организация, контроля и учета информации.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-5.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Системы безопасности
                                    .list-item__links
                                        a.list-item__link(href="") Видеонаблюдение
                                        a.list-item__link(href="") Контроль доступа
                                    p.list-item__desc Системы автоматизации для защиты внешнего и внутреннего устройства объекта.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-6.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Системы вентиляции
                                    .list-item__links
                                        a.list-item__link(href="") Воздуховоды
                                        a.list-item__link(href="") Комплектующие
                                    p.list-item__desc Вентиляционные агрегаты для очищения воздуха и климат-контроля.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-7.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Стройматериалы
                                    .list-item__links
                                        a.list-item__link(href="") Газоны
                                        a.list-item__link(href="") Изделия из ДПК
                                        a.list-item__link(href="") Печи, камины, дымоходы
                                        a.list-item__link(href="") Черепица
                                    p.list-item__desc Необходимые материалы для строительных и ремонтных работ.

                            .all-products-content__list-item.list-item
                                img.list-item__img(src="./img/products/icons/icon-8.png" alt="")
                                .list-item__text-inner
                                    h3.list-item__title Дизайнерская мебель
                                    .list-item__links
                                        a.list-item__link(href="") Кровати
                                        a.list-item__link(href="") Мебель для гостиной
                                        a.list-item__link(href="") Мебель для спальни
                                    p.list-item__desc Стильная мебель из дорогих материалов от лучших дизайнеров Москвы.

