// Brands
section.brands
    .container
        .brands__row
            .brands__item
                img.brands__img(src="./img/brands/brand-1.jpg", alt="")
            .brands__item
                img.brands__img(src="./img/brands/brand-2.jpg", alt="")
            .brands__item
                img.brands__img(src="./img/brands/brand-3.jpg", alt="")
            .brands__item
                img.brands__img(src="./img/brands/brand-4.png", alt="")
            .brands__item
                img.brands__img(src="./img/brands/brand-5.jpg", alt="")