// Brands
.brands {
    padding-top: 90px;
    padding-bottom: 65px;

    &__row {
        @include row-flex();
        align-items: center;
        justify-content: space-between;

        @include lg(justify-content, space-around)
    }

    &__item {
        margin-bottom: 25px;
        @include col();
    }
}