extends layouts/default

block variables
	- const title = "Главная | AllCorp 2.0"

block content
	include ../blocks/modules/header/header.pug
	main
		//- include ../blocks/modules/hero/hero.pug

	include ../blocks/modules/footer/footer.pug

block scripts
	script(src="./js/main.js")
	script(src="./js/vendor.js")