extends layouts/default

block variables
	- const title = "Главная | AllCorp 2.0"

block content
	include ../blocks/modules/header/header.pug
	main
		include ../blocks/modules/services/services.pug
		include ../blocks/modules/catalog/catalog.pug
		include ../blocks/modules/products/products.pug
		include ../blocks/modules/advantages/advantages.pug
		include ../blocks/modules/news/news.pug
		include ../blocks/modules/articles/articles.pug

	include ../blocks/modules/footer/footer.pug

block scripts
	script(src="./js/vendor.js")
	script(src="./js/main.js")