.catalog-menu {
    position: absolute;
    top: 165px;
    left: 15px;
    z-index: 100;

    display: none;
    width: 100%;

    padding: 25px 25px 0 25px;

    background-color: #ffffff;

    .list-item {
        
        &__img {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

        &__title {
            font-size: 15px;
            font-weight: 700;
        }

        &__links {
            flex-direction: column;
        }
       
        &__link {
            margin-right: 0;
            margin-bottom: 8px;
            line-height: 16px;
        }
    }
}
