.catalog-menu
    .catalog-menu__list
        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-1.png" alt="")
            .list-item__text-inner
                a(href="./all-rent.html")
                    h3.list-item__title Аренда спецтехники
                .list-item__links
                    a.list-item__link(href="") Автокраны
                    a.list-item__link(href="") Манипуляторы
                    a.list-item__link(href="") Самосвалы
                    a.list-item__link(href="") Экскаваторы

        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-2.png" alt="")
            .list-item__text-inner
                a(href="./all-medical.html")
                    h3.list-item__title Медицинское оборудование
                .list-item__links
                    a.list-item__link(href="") Косметология
                    a.list-item__link(href="") Лаборатория
                    a.list-item__link(href="") Медицинская мебель
                    a.list-item__link(href="") Рентгеновские аппараты

        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-3.png" alt="")
            .list-item__text-inner
                a(href="")
                    h3.list-item__title Металлопрокат
                .list-item__links
                    a.list-item__link(href="") Сортовой прокат из нержавеющей стали
                    a.list-item__link(href="") Трубы нержавеющие
                    a.list-item__link(href="") Сварочные материалы
                    a.list-item__link(href="") Просечно-вытяжные листы

        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-4.png" alt="")
            .list-item__text-inner
                a(href="")
                    h3.list-item__title Программные продукты
                .list-item__links
                    a.list-item__link(href="") CRM системы
                    a.list-item__link(href="") Хостинг
                    a.list-item__link(href="") Продукты 1С
                    a.list-item__link(href="") Операционные системы

        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-5.png" alt="")
            .list-item__text-inner
                a(href="")
                    h3.list-item__title Системы безопасности
                .list-item__links
                    a.list-item__link(href="") Видеонаблюдение
                    a.list-item__link(href="") Контроль доступа

        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-6.png" alt="")
            .list-item__text-inner
                a(href="")
                    h3.list-item__title Системы вентиляции
                .list-item__links
                    a.list-item__link(href="") Воздуховоды
                    a.list-item__link(href="") Комплектующие

        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-7.png" alt="")
            .list-item__text-inner
                a(href="")
                    h3.list-item__title Стройматериалы
                .list-item__links
                    a.list-item__link(href="") Газоны
                    a.list-item__link(href="") Изделия из ДПК
                    a.list-item__link(href="") Печи, камины, дымоходы
                    a.list-item__link(href="") Черепица

        .catalog-menu__list-item.list-item
            img.list-item__img(src="./img/products/icons/icon-8.png" alt="")
            .list-item__text-inner
                a(href="")
                    h3.list-item__title Дизайнерская мебель
                .list-item__links
                    a.list-item__link(href="") Кровати
                    a.list-item__link(href="") Мебель для гостиной
                    a.list-item__link(href="") Мебель для спальни
