// Reviews
section.reviews
    .container
        a.section-link.section-link__reviews(href="#") Все отзывы
        h2.articles__title Отзывы
        .owl-carousel.owl-theme.reviews-slider
            .review-item
                .avatar
                    img.avatar__img(src="./img/avatars/avatar-1.jpg" alt="")
                    .avatar__text-inner
                        .avatar__name Елена Шипрова
                        .avatar__prof
                            | директор офисного центра Getred
                .review-item__text
                    p Заказывали в «Олл Корп» систему безопасности для нашего центра. Заказ обработали быстро – уже на следующий день инженеры окружили меня и требовали разрешения начать работу.
                    p В течение дня установили видеонаблюдение и сигнализацию...
                button.base-button Подробнее
            .review-item
                .avatar
                    img.avatar__img(src="./img/avatars/avatar-2.jpg" alt="")
                    .avatar__text-inner
                        .avatar__name Борис Кронкарт
                        .avatar__prof
                            | директор гимназии №56
                .review-item__text
                    p Боялся, что коммерческая организация не выполнит работу качественно, потому что проекты в бюджетных учреждениях не очень большие и не такие ценные, как на крупных предприятиях.
                    p Даже не думал, что «Олл Корп» так ответственно...
                button.base-button Подробнее
            .review-item
                .avatar
                    img.avatar__img(src="./img/avatars/avatar-1.jpg" alt="")
                    .avatar__text-inner
                        .avatar__name Елена Шипрова
                        .avatar__prof
                            | директор офисного центра Getred
                .review-item__text
                    p Заказывали в «Олл Корп» систему безопасности для нашего центра. Заказ обработали быстро – уже на следующий день инженеры окружили меня и требовали разрешения начать работу.
                    p В течение дня установили видеонаблюдение и сигнализацию...
                button.base-button Подробнее
            .review-item
                .avatar
                    img.avatar__img(src="./img/avatars/avatar-2.jpg" alt="")
                    .avatar__text-inner
                        .avatar__name Борис Кронкарт
                        .avatar__prof
                            | директор гимназии №56
                .review-item__text
                    p Боялся, что коммерческая организация не выполнит работу качественно, потому что проекты в бюджетных учреждениях не очень большие и не такие ценные, как на крупных предприятиях.
                    p Даже не думал, что «Олл Корп» так ответственно...
                button.base-button Подробнее