// Cosmetology
section.page-cosmetology

    .content-header
        .container
            h1.content-header__title Косметология
            .bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Главная
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./all-products.html') Продукты
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./all-medical.html') Медицинское оборудование
                    li.bread-crumbs__item Косметология

    .container
        .page-cosmetology__row
            .page-cosmetology__col-3
                .all-products__aside
                    ul.aside-menu
                        li.aside-menu__item
                            a.aside-menu__link(href="./all-rent.html") Аренда спецтехники
                        li.aside-menu__item
                            a.aside-menu__link.active(href="") Медицинское оборудование
                            ul.sub-menu
                                li.sub-menu__item
                                    a.sub-menu__link.sub-menu__link--active(href="") Косметология
                                li.sub-menu__item
                                    a.sub-menu__link(href="") Лаборатория
                                li.sub-menu__item
                                    a.sub-menu__link(href="") Медицинская мебель
                                li.sub-menu__item
                                    a.sub-menu__link(href="") Рентгеновские аппараты
                        li.aside-menu__item
                            a.aside-menu__link(href="") Металлопрокат
                        li.aside-menu__item
                            a.aside-menu__link(href="") Программные продукты
                        li.aside-menu__item
                            a.aside-menu__link(href="") Системы безопасности
                        li.aside-menu__item
                            a.aside-menu__link(href="") Системы вентиляции
                        li.aside-menu__item
                            a.aside-menu__link(href="") Стройматериалы
                        li.aside-menu__item
                            a.aside-menu__link(href="") Дизайнерская мебель

                    img.aside__banner(src="./img/banners/aside-banner-1.jpg" alt="")
                    .aside-advantages
                        .aside-advantages__item
                            img.aside-advantages__img(src="./img/icons/adv-item-1.png" alt="1")
                            .aside-advantages__title Оптимальный выбор
                            .aside-advantages__desc Низкие цены и широкий ассортимент
                        .aside-advantages__item
                            img.aside-advantages__img(src="./img/icons/adv-item-2.png" alt="2")
                            .aside-advantages__title Всегда рядом
                            .aside-advantages__desc Широкая сеть представительств
                    .aside-text 
                        p Цель нашей компании — предложение широкого ассортимента товаров и услуг на постоянно высоком качестве обслуживания.

            .page-cosmetology__col-9
                .content-wrapper
                    h2.page-category__title Техника и мебель для учреждений здравоохранения разного уровня.
                    | ТУТ Сортировка и кнопки
                    .cosmetology-row
                        .cosmetology-row__item
                            .product-card
                                img.product-card__img(src="./img/products/product-1.jpg" alt="")
                                .product-card__text-inner    
                                    h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    span.product-card__category Арт. 434362132
                                    a.base-button.product-card__button(href="./page-product.html") Узнать цену
                                .product-card__desc
                                    h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    p.desc__text.desc__text--art Артикул 234151
                                    p.desc__text Масса, кг
                                    span 86
                                    p.desc__text Размер, см х см
                                    span 90 см x 45 см x 60 см
                                    p.desc__text Размещение
                                    span напольный
                        .cosmetology-row__item
                            .product-card
                                img.product-card__img(src="./img/products/product-2.jpg" alt="")
                                .product-card__text-inner
                                    h3.product-card__title Электрическая печь Nyman 2000
                                    span.product-card__category Арт. 434362132
                                    button.base-button.product-card__button Узнать цену
                                .product-card__desc
                                    h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    p.desc__text.desc__text--art Артикул 234151
                                    p.desc__text Масса, кг
                                    span 86
                                    p.desc__text Размер, см х см
                                    span 90 см x 45 см x 60 см
                                    p.desc__text Размещение
                                    span напольный
                        .cosmetology-row__item
                            .product-card
                                img.product-card__img(src="./img/products/product-3.jpg" alt="")
                                .product-card__text-inner
                                    h3.product-card__title Помпа дренажная SAUERMANN
                                    span.product-card__category Арт. 434362132
                                    button.base-button.product-card__button Узнать цену
                                .product-card__desc
                                    h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    p.desc__text.desc__text--art Артикул 234151
                                    p.desc__text Масса, кг
                                    span 86
                                    p.desc__text Размер, см х см
                                    span 90 см x 45 см x 60 см
                                    p.desc__text Размещение
                                    span напольный
                        .cosmetology-row__item
                            .product-card
                                img.product-card__img(src="./img/products/product-1.jpg" alt="")
                                .product-card__text-inner
                                    h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    span.product-card__category Арт. 434362132
                                    button.base-button.product-card__button Узнать цену
                                .product-card__desc
                                    h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    p.desc__text.desc__text--art Артикул 234151
                                    p.desc__text Масса, кг
                                    span 86
                                    p.desc__text Размер, см х см
                                    span 90 см x 45 см x 60 см
                                    p.desc__text Размещение
                                    span напольный
                        .cosmetology-row__item
                            .product-card
                                img.product-card__img(src="./img/products/product-1.jpg" alt="")
                                .product-card__text-inner    
                                    h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    span.product-card__category Арт. 434362132
                                    button.base-button.product-card__button Узнать цену
                                .product-card__desc
                                    h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    p.desc__text.desc__text--art Артикул 234151
                                    p.desc__text Масса, кг
                                    span 86
                                    p.desc__text Размер, см х см
                                    span 90 см x 45 см x 60 см
                                    p.desc__text Размещение
                                    span напольный
                        .cosmetology-row__item
                            .product-card
                                img.product-card__img(src="./img/products/product-2.jpg" alt="")
                                .product-card__text-inner
                                    h3.product-card__title Электрическая печь Nyman 2000
                                    span.product-card__category Арт. 434362132
                                    button.base-button.product-card__button Узнать цену
                                .product-card__desc
                                    h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                                    p.desc__text.desc__text--art Артикул 234151
                                    p.desc__text Масса, кг
                                    span 86
                                    p.desc__text Размер, см х см
                                    span 90 см x 45 см x 60 см
                                    p.desc__text Размещение
                                    span напольный


                    .all-products-content__text
                        p
                            |Правильность постановки диагнозов и назначенного лечения зависит от функциональности и точности медицинского оборудования. Мы предлагаем современное и высокотехнологичное оборудование для государственных и частных учреждений здравоохранения. Работаем с лучшими российскими и зарубежными производителями. В нашей компании вы сможете заказать оборудование, мебель, косметологические приборы и высокоточную аппаратуру для лабораторий.
                        p
                            | Опытные инженеры компании «Олл Корп» произведут качественную и оперативную установку оборудования, наладку и запуск в эксплуатацию. Наши специалисты обязательно проведут инструктаж по пользованию и уходу за оборудованием. Если в процессе эксплуатации возникнет поломка, то инженеры компании быстро устранят ее и дадут гарантию на свою работу.
