// Sale
.sale
    .sale__title Скидка 20% на оборудование косметологического кабинета!
    .sale__desc
        | Не тратьте время на поиски нужных товаров в разных компаниях: «Олл Корп» дарит скидку 20% на все необходимые товары для косметологического кабинета до конца 2017 года!
    .sale__date 14.11.2017