// Advantages
section.advantages
    .container
        .advantages__row
            .advantages__item
                .advantages__card
                    img.advantages__img(src="./img/icons/waranty.png" alt="")
                    .advantages__text-inner
                        h4.advantages__small-title Гарантия качества
                        p.advantages__desc Весь товар сертифицирован
            .advantages__item
                .advantages__card
                    img.advantages__img(src="./img/icons/select.png" alt="")
                    .advantages__text-inner
                        h4.advantages__small-title Оптимальный выбор
                        p.advantages__desc Низкие цены и широкий ассортимент
            .advantages__item
                .advantages__card
                    img.advantages__img(src="./img/icons/map-badge.png" alt="")
                    .advantages__text-inner
                        h4.advantages__small-title Всегда рядом
                        p.advantages__desc Широкая сеть представительств
            .advantages__item
                .advantages__card
                    img.advantages__img(src="./img/icons/car.png" alt="")
                    .advantages__text-inner
                        h4.advantages__small-title Доставка в срок
                        p.advantages__desc Оперативная доставка и выгрузка товара
