.modal-window-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100%;
    height: 100vh;

    display: none;
    align-items: center;
    justify-content: center;

    background-color: rgba(#656b6e, 0.66);
}

.modal-window {
    max-width: 465px;
    max-height: 450px;
    width: 100%;
    position: relative;
    padding: 50px;
    color: #222222;
    background-color: #ffffff;

    &__close {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 24px;
        right: 24px;
        cursor: pointer;

        &::before,
        &::after {
            position: absolute;
            top: 6px;
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: #000000;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__title {
        margin-bottom: 25px;
        font-size: 23px;
        line-height: 24px;
        font-weight: 500;
    }

    p {
        margin-bottom: 25px;
        font-size: 12px;
        line-height: 24px;

        color: #777777;
    }
}

.form {
    &__row {
        position: relative;
        margin-bottom: 30px;

        label {
            position: absolute;
            top: 10px;
            left: 14px;

            display: block;

            font-weight: 500;
            font-size: 13px;
            line-height: 24px;

            color: #999999;
            transition: top 0.2s linear;
        }

        span {
            color: #E12222;
        }

        .label--active {
            top: -12px;
            padding: 0 5px;
            background-color: #ffffff;
        }

        input {
            width: 100%;
            height: 42px;
            padding: 0 14px;
            border: none;
            border: 1px solid #999999;
            border-radius: 2px;
            background-color: transparent;

            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            color: #555555;
            outline: none;

            &::placeholder {
                color: #999999;
            }

            &:active label {
                opacity: 1;
            }
        }
    }

    .checkbox__body {
        position: relative;
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;

        color: #555555;

        a {
            color: #0088CA;

            &:hover {
                text-decoration: underline;
            }
        }

        #form__checkbox {
            position: absolute;
            top: 1px;
        }

        label {
            margin-left: 24px;
        }
    }
}
