// Catalog
section.catalog
    .container
        a.section-link(href="#") Все услуги
        h2.catalog__title Каталог товаров
        p.catalog__desc
            | В нашем каталоге представлены последние линейки спецтехники, систем Закажите консультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. Мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок.
        .catalog__inner
            .catalog__item
                .catalog-card
                    img.catalog-card__img(src="./img/catalog/img-1.png" alt="")
                    .catalog-card__text-inner
                        h3.catalog-card__title
                            a.catalog-card__link(href="#") Аренда спецтехники
                        p.catalog-card__desc
                            |Аренда спецтехники для строительных мероприятий любой сложности и направленности.
            .catalog__item
                .catalog-card
                    img.catalog-card__img(src="./img/catalog/img-2.png" alt="")
                    .catalog-card__text-inner
                        h3.catalog-card__title
                            a.catalog-card__link(href="#") Программные продукты
                        p.catalog-card__desc
                            |Программные продукты для эффективной работы организация, контроля и учета информации.
            .catalog__item
                .catalog-card
                    img.catalog-card__img(src="./img/catalog/img-3.png" alt="")
                    .catalog-card__text-inner
                        h3.catalog-card__title
                            a.catalog-card__link(href="#") Системы безопасности
                        p.catalog-card__desc
                            |Системы автоматизации для защиты внешнего и внутреннего устройства объекта.
            .catalog__item
                .catalog-card
                    img.catalog-card__img(src="./img/catalog/img-4.png" alt="")
                    .catalog-card__text-inner
                        h3.catalog-card__title
                            a.catalog-card__link(href="#") Системы вентиляции
                        p.catalog-card__desc
                            |Вентиляционные агрегаты для очищения воздуха и климат-контроля.