// Catalog
.catalog {
    padding: 55px 0;

    border-bottom: 1px solid #f2f2f2;

    &__desc {
        margin-bottom: 31px;
        font-size: 16px;
        line-height: 24px;
    }

    &__inner {
        @include u-row-flex(0);
        @include md(justify-content, center);
    }

    &__item {
        @include u-col(0);
        @include u-size(6, 12, 0px);
        @include size-md(12);
        @include md(margin-bottom, 15px);
        border: 1px solid #f5f5f5;
        transition: box-shadow .2s linear;

        &:hover {
            box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
        }
    }
}

.catalog-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 42px 42px 42px 32px;

    @include sm-block() {
        flex-wrap: wrap;
        margin-top: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    

    &__img {
        margin-right: 30px;
        max-width: 120px;
        max-height: 120px;
        @include sm(margin-bottom, 15px);
    }

    &__link {
        color: inherit;
        transition: color 0.15s linear;

        &:hover {
            color: $base-blue-color;
        }
    }

    &__desc {
        max-width: 340px;
        font-size: 14px;
        line-height: 24px;
        color: #666666;
    }
}
