// Products
section.products
    .container
        h2.news__title Наши продукты
        .products-row
            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-1.jpg" alt="")
                    .product-card__text-inner    
                        h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        a.product-card__category(href="#") Косметология
                        button.base-button.product-card__button Узнать цену

            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-2.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Электрическая печь Nyman 2000
                        a.product-card__category(href="#") Печи, камины, дымоходы
                        button.base-button.product-card__button Узнать цену

            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-3.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Помпа дренажная SAUERMANN
                        a.product-card__category(href="#") Комплектующие
                        button.base-button.product-card__button Узнать цену

            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-1.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        a.product-card__category(href="#") Косметология
                        button.base-button.product-card__button Узнать цену