// Products
section.products
    .container
        h2.news__title Наши продукты
        .owl-carousel.owl.theme.owl-products.products-row
            .products-row__item
                .product-card.new-item
                    img.product-card__img(src="./img/products/product-1.jpg" alt="")
                    .product-card__text-inner    
                        h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        a.product-card__category(href="#") Косметология
                        a.base-button.product-card__button(href="./page-product.html") Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный
            .products-row__item
                .product-card.sale-item
                    img.product-card__img(src="./img/products/product-2.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Электрическая печь Nyman 2000
                        span.product-card__category Печи, камины, дымоходы
                        button.base-button.product-card__button Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный
            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-3.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Помпа дренажная SAUERMANN
                        span.product-card__category Комплектующие
                        button.base-button.product-card__button Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный
            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-1.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        span.product-card__category Косметология
                        button.base-button.product-card__button Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный
            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-1.jpg" alt="")
                    .product-card__text-inner    
                        h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        a.product-card__category(href="#") Косметология
                        button.base-button.product-card__button Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный
            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-2.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Электрическая печь Nyman 2000
                        a.product-card__category(href="#") Печи, камины, дымоходы
                        button.base-button.product-card__button Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный
            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-3.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Помпа дренажная SAUERMANN
                        a.product-card__category(href="#") Комплектующие
                        button.base-button.product-card__button Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный
            .products-row__item
                .product-card
                    img.product-card__img(src="./img/products/product-1.jpg" alt="")
                    .product-card__text-inner
                        h3.product-card__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        a.product-card__category(href="#") Косметология
                        button.base-button.product-card__button Узнать цену
                    .product-card__desc
                        h3.desc__title Аппарат для лазерной эпиляции Cynosure Apogee+
                        p.desc__text.desc__text--art Артикул 234151
                        p.desc__text Масса, кг
                        span 86
                        p.desc__text Размер, см х см
                        span 90 см x 45 см x 60 см
                        p.desc__text Размещение
                        span напольный

