// Pagination
.pagination__inner
    ul.pagination
        li.pagination__item
            a.pagination__link.pagination__link--active(href="#") 1
        li.pagination__item
            a.pagination__link(href="#") 2
        li.pagination__item
            a.pagination__link(href="#") 3
        li.pagination__item
            a.pagination__link.pagination__link--arrow(href="")
                svg(viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M1.75218 13.637C1.66831 13.7498 1.56103 13.8411 1.4385 13.9039C1.31597 13.9667 1.18142 13.9994 1.04507 13.9994C0.908724 13.9994 0.774172 13.9667 0.651643 13.9039C0.529114 13.8411 0.421835 13.7498 0.33796 13.637C0.226143 13.5544 0.135408 13.4443 0.0737754 13.3162C0.0121427 13.1881 -0.0184897 13.046 -0.0154143 12.9026C-0.0123389 12.7591 0.0243497 12.6186 0.0914086 12.4936C0.158467 12.3685 0.253831 12.2628 0.369071 12.1856L5.2624 6.98228L0.369071 1.77335C0.254562 1.69605 0.159868 1.59042 0.0932938 1.46574C0.0267195 1.34106 -0.00970044 1.20113 -0.0127717 1.05823C-0.0158429 0.915325 0.0145285 0.773814 0.0756785 0.646106C0.136829 0.518399 0.226889 0.408397 0.33796 0.32575C0.421631 0.212559 0.528842 0.120954 0.651398 0.0579364C0.773953 -0.00508096 0.908609 -0.0378418 1.04507 -0.0378418C1.18153 -0.0378418 1.31619 -0.00508096 1.43874 0.0579364C1.5613 0.120954 1.66851 0.212559 1.75218 0.32575L7.39929 6.25335C7.50261 6.33971 7.58499 6.45053 7.63968 6.57674C7.69437 6.70295 7.71983 6.84096 7.71396 6.97948C7.71954 7.11797 7.69395 7.25588 7.63928 7.38204C7.58461 7.5082 7.50239 7.61906 7.39929 7.70562L1.75218 13.637Z")
