section.page-product

    .content-header
        .container
            h1.content-header__title Косметология
            .bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Главная
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Продукты
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Медицинское оборудование
                    li.bread-crumbs__item Косметология

    .container
        .content-wrapper
            .page-product-card
                .card__row
                    .card__col-8
                        img.card__img(src="./img/products/big-product-1.png" alt="")
                    .card__col-4
                        .card__descr 
                            p Александритовый лазер для удаления волосяных луковиц и пигментных пятен.
                            a(href="#") Подробнее

                        .card__btn-inner
                            button.base-button.second-button.card__base-button Узнать цену
                            p.card__waranty Гарантия на оборудование 10 лет

                        .card-desc
                            p.card-desc__title Характеристики
                            p.card-desc__text Масса, кг
                            span 86
                            p.card-desc__text Размер, см х см
                            span 90 см x 45 см x 60 см
                            p.card-desc__text Размещение
                            span напольный
                            a(href="#") Все характеристики

            .page-product-advantages

                .page-product-advantages__row
                    .page-product-advantages__col-9
                        .advantages-row
                            .advantages-row__col
                                .advantages-row-item
                                    img.advantages-row-item__img(src="./img/icons/adv-item-1.png" alt="1")
                                    .advantages-row-item__title Оптимальный выбор
                                    .advantages-row-item__desc Низкие цены и широкий ассортимент
                            .advantages-row__col
                                .advantages-row-item
                                    img.advantages-row-item__img(src="./img/icons/adv-item-2.png" alt="2")
                                    .advantages-row-item__title Всегда рядом
                                    .advantages-row-item__desc Широкая сеть представительств
                            .advantages-row__col
                                .advantages-row-item
                                    img.advantages-row-item__img(src="./img/icons/adv-item-3.png" alt="3")
                                    .advantages-row-item__title Доставка в срок
                                    .advantages-row-item__desc Оперативная доставка и выгрузка товара
                    .page-product-advantages__col-3
                        .page-product-aside
                            img.page-product-aside__img(src="./img/brands/brand-6.png" alt="")
                            p.page-product-aside__desc Профессиональное оборудование для медицинских центров
                            a.page-product-aside__link(href="#") Все товары категории
                            a.page-product-aside__link(href="#") Все товары бренда

            .page-product-tabs
                .tabs.product-card__tabs
                    .tabs__title
                        ul.tabs__title-list
                            li.tabs__title-item.tabs__title-item--active Описание
                            li.tabs__title-item Характеристики
                            li.tabs__title-item FAQ
                            li.tabs__title-item Дополнительно
                    .tabs__row.active
                        p 
                            | Современное технологичное решения для косметологического кабинета. Создан для удаления нежелательных волос на любых участках тела и пигментных пятен различной природы. Грамотная система управления обеспечивают работы аппарата без перерыва на протяжении 10-12 часов. Система ультракороткого импульса (всего от 0,5 мсек) позволяет удалять светлые, пушковые волосы, лишенные меланина. Также аппарат оснащен системой охлаждения для комфорта пациента.
                        p
                            | Аппаратом можно удалять любые сосудистые патологии до 4 мм. Дополнительное преимущество – неабляционное омоложение кожных покровов без периода реабилитации. Для подбора индивидуальной программы на приборе есть сенсорная панель: на ней можно выбрать особенности кожи и тип волос. Благодаря небольшой насадке у аппарата есть возможность удаления одиночных волос при лазерной эпиляции без повреждения близлежащих тканей.
                    .tabs__row
                        p
                            | Аппаратом можно удалять любые сосудистые патологии до 4 мм. Дополнительное преимущество – неабляционное омоложение кожных покровов без периода реабилитации. Для подбора индивидуальной программы на приборе есть сенсорная панель
                    .tabs__row
                        p 
                            | Современное технологичное решения для косметологического кабинета. Создан для удаления нежелательных волос на любых участках тела и пигментных пятен различной природы. Грамотная система управления обеспечивают работы аппарата без перерыва на протяжении 10-12 часов.
                    .tabs__row
                        p
                            | Аппаратом можно удалять любые сосудистые патологии до 4 мм. Дополнительное преимущество – неабляционное омоложение кожных покровов без периода реабилитации. Для подбора индивидуальной программы на приборе есть сенсорная панель

            .page-product-sale
                .page-product-sale__col
                    include ../../components/sale/sale.pug

            