.page-product {
    padding-bottom: 180px;
    @include md(padding-bottom, 60px);
    background-color: #f3f3f3;

    .page-product-card {
        margin-bottom: 35px;
        border: $base-border;

        a {
            display: inline-block;
            font-size: 12px;
            line-height: 24px;

            color: $base-blue-color;

            border-bottom: 1px solid $base-blue-color;

            &:hover {
                color: darken($base-blue-color, 2);
            }
        }
    }

    .page-product-advantages {
        margin-bottom: 56px;

        border: $base-border;

        .advantages-row {
            padding: 68px 54px;
            @include row-flex();
            @include md(padding-top, 34px);
            @include md(padding-bottom, 0);

            &__col {
                @include col();
                @include size(4);
                @include size-md(12);
            }

            &-item {
                @include md(margin-bottom, 30px);
                &__img {
                    width: 60px;
                    height: 60px;
                    margin-bottom: 3px;
                }

                &__title {
                    line-height: 24px;

                    color: #222222;
                }

                &__desc {
                    font-size: 13px;
                    line-height: 20px;

                    color: #666666;
                }
            }
        }
    }

    .page-product-tabs {
        @include row-flex();

        .tabs {
            margin-bottom: 40px;
            @include col();
            @include size-md(12);

            &__title {
                margin-bottom: 40px;
                @include sm(margin-bottom, 20px);

                background-color: #f9f9fa;
            }
            &__title-list {
                display: flex;
                @include sm(flex-direction, column);

                border: $base-border;
            }
            &__title-item {
                display: inline-block;
                padding: 15px 24px;

                line-height: 21px;

                border-right: $base-border;

                transition: $base-transition;

                &:last-child {
                    border-right: none;
                }

                &:hover {
                    color: $base-blue-color;
                    background-color: #ffffff;
                    cursor: pointer;
                }

                &--active {
                    color: $base-blue-color;
                    background-color: #ffffff;

                    &:hover {
                        cursor: default;
                    }
                }
            }

            &__row {
                display: none;
                padding: 0 30px;
                line-height: 24px;

                p {
                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .active {
            display: block;
        }
    }

    .page-product-sale {
        @include row-flex();
        margin-bottom: 50px;

        &__col {
            @include col();
            @include size-md(12);
            padding-bottom: 50px;
            border-bottom: $base-border;
        }
    }

    .procuct-page-suggestion {
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: $base-border;
    }

    .product-page-pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include sm(justify-content, center);
        padding-top: 46px;

        &__link {
            display: inline-block;
            margin-bottom: 20px;
            border: $base-border;
            border-radius: 3px;

            &:hover .link__text {
                color: $base-blue-color;
            }
        }

        .link__inner {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 2px;
                display: block;
                width: 45px;
                height: 45px;
                background: url("../img/svg/arrow-left.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .link__inner--share {

            &::before {
                position: absolute;
                top: 2px;
                right: 2px;
                background: url("../img/svg/share.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .link__arrow {
            display: inline-block;
            width: 46px;
        }

        .link__text {
            display: inline-block;
            padding: 12px 20px;
            line-height: 24px;

            color: #222222;

            border-left: $base-border;
            
            transition: $base-transition;
            
            &--share {
                border-left: none;
                border-right: $base-border;
                
            }
        }
    }
}

.card {
    &__row {
        @include row-flex();
        margin: 0;

        .card__col-8 {
            @include col-padding();
            @include size(8);
            @include size-md(12);

            padding: 85px 0;

            text-align: center;

            border-right: $base-border;
            @include md(border-right, none);
        }

        .card__col-4 {
            @include col-padding();
            @include size(4);
            @include size-md(12);

            padding: 16px 0 30px 44px;
        }
    }

    &__descr {
        padding-bottom: 25px;
        border-bottom: $base-border;

        p {
            margin-bottom: 8px;

            font-size: 13px;
            line-height: 22px;

            color: #666666;
        }
    }

    &__btn-inner {
        padding: 30px 0 30px 0;
        text-align: center;
        border-bottom: $base-border;
    }

    &__base-button {
        width: 100%;
        margin-bottom: 18px;
    }

    &__waranty {
        font-size: 12px;
        line-height: 16px;

        color: #555555;
    }

    &-desc {
        padding-top: 25px;

        &__title {
            margin-bottom: 12px;
            line-height: 24px;

            color: #333333;
        }

        &__text {
            margin-bottom: 4px;
            font-size: 14px;
            line-height: 20px;

            color: #777777;
        }

        span {
            display: block;
            margin-bottom: 12px;
            font-size: 14px;
            line-height: inherit;

            color: #333333;
        }
    }
}
