section.page-product

    .content-header
        .container
            h1.content-header__title Косметология
            .bread-crumbs
                ul.bread-crumbs__list
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Главная
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Продукты
                    li.bread-crumbs__item
                        a.bread-crumbs__link(href='./index.html') Медицинское оборудование
                    li.bread-crumbs__item Косметология
                    
    .container
        .content-wrapper
            .page-product-card
                |sdsdsd