// News
section.news
    .container
        a.section-link(href="#") Все новости
        h2.news__title Новости
        .news__row
            a.news__item(href="#")
                .news-card
                    img.news-card__img(src="./img/news/news-1.jpg" alt="")
                    .news-card__text-inner
                        h3.news-card__title Новый филиал в Нижнем Новгороде
                        p.news-card__date 17 Октября 2017
            a.news__item(href="#")
                .news-card
                    img.news-card__img(src="./img/news/news-2.jpg" alt="")
                    .news-card__text-inner
                        h3.news-card__title Открываем сезон конференций
                        p.news-card__date 16 Октября 2017
            a.news__item(href="#")
                .news-card
                    img.news-card__img(src="./img/news/news-3.jpg" alt="")
                    .news-card__text-inner
                        h3.news-card__title Внимание! Переезд магазина!
                        p.news-card__date 15 Октября 2017
            a.news__item(href="#")
                .news-card
                    img.news-card__img(src="./img/news/news-4.jpg" alt="")
                    .news-card__text-inner
                        h3.news-card__title Объявляем конкурс! Приз 100 тысяч рублей!
                        p.news-card__date с 1 по 20 ноября