// Footer
footer.footer
    .footer-subscribe
        .footer-subscribe__inner
            p.footer-subscribe__icon
                svg(width="69" height="30" viewBox="0 0 69 30" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M32 0H65C66.0609 0 67.0783 0.421427 67.8284 1.17157C68.5786 1.92172 69 2.93913 69 4V26C69 27.0609 68.5786 28.0783 67.8284 28.8284C67.0783 29.5786 66.0609 30 65 30H32C30.9391 30 29.9217 29.5786 29.1716 28.8284C28.4214 28.0783 28 27.0609 28 26V4C28 2.93913 28.4214 1.92172 29.1716 1.17157C29.9217 0.421427 30.9391 0 32 0V0ZM32 2H65C65.5304 2 66.0391 2.21071 66.4142 2.58579C66.7893 2.96086 67 3.46957 67 4V26C67 26.5304 66.7893 27.0391 66.4142 27.4142C66.0391 27.7893 65.5304 28 65 28H32C31.4696 28 30.9609 27.7893 30.5858 27.4142C30.2107 27.0391 30 26.5304 30 26V4C30 3.46957 30.2107 2.96086 30.5858 2.58579C30.9609 2.21071 31.4696 2 32 2ZM45.672 18.834L32.134 5.3C32.2586 4.96832 32.4694 4.67588 32.7447 4.45282C33.0199 4.22975 33.3497 4.08414 33.7 4.031L47.086 17.419C47.4611 17.7939 47.9697 18.0046 48.5 18.0046C49.0303 18.0046 49.5389 17.7939 49.914 17.419L63.3 4.031C63.6503 4.08414 63.9801 4.22975 64.2553 4.45282C64.5306 4.67588 64.7414 4.96832 64.866 5.3L51.328 18.834C50.5779 19.5839 49.5607 20.0051 48.5 20.0051C47.4393 20.0051 46.4221 19.5839 45.672 18.834ZM7 8H21C21.2652 8 21.5196 8.10536 21.7071 8.29289C21.8946 8.48043 22 8.73478 22 9C22 9.26522 21.8946 9.51957 21.7071 9.70711C21.5196 9.89464 21.2652 10 21 10H7C6.73478 10 6.48043 9.89464 6.29289 9.70711C6.10536 9.51957 6 9.26522 6 9C6 8.73478 6.10536 8.48043 6.29289 8.29289C6.48043 8.10536 6.73478 8 7 8ZM1 14H15C15.2652 14 15.5196 14.1054 15.7071 14.2929C15.8946 14.4804 16 14.7348 16 15C16 15.2652 15.8946 15.5196 15.7071 15.7071C15.5196 15.8946 15.2652 16 15 16H1C0.734784 16 0.48043 15.8946 0.292893 15.7071C0.105357 15.5196 0 15.2652 0 15C0 14.7348 0.105357 14.4804 0.292893 14.2929C0.48043 14.1054 0.734784 14 1 14ZM7 20H21C21.2652 20 21.5196 20.1054 21.7071 20.2929C21.8946 20.4804 22 20.7348 22 21C22 21.2652 21.8946 21.5196 21.7071 21.7071C21.5196 21.8946 21.2652 22 21 22H7C6.73478 22 6.48043 21.8946 6.29289 21.7071C6.10536 21.5196 6 21.2652 6 21C6 20.7348 6.10536 20.4804 6.29289 20.2929C6.48043 20.1054 6.73478 20 7 20Z" fill="white")
            p.footer-subscribe__text Подписывайтесь на новости и акции:
            form.footer-form
                input.footer-form__input(type="email" name="email")
                button.base-button.footer-form__button(type="submit") Подписаться
    .container

        .footer-content
            .footer-content__row
                .footer-content__item
                    .footer-content__item-title Компания
                    ul.footer-menu.footer-menu
                        li.footer-menu__item
                            a.footer-menu__link(href="#") О компании
                        li.footer-menu__item
                            a.footer-menu__link(href="#") История
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Лицензии
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Партнеры
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Сотрудники
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Отзывы
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Вакансии
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Реквизиты
                .footer-content__item
                    .footer-content__item-title Каталог
                    ul.footer-menu
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Аренда спецтехники
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Медицинское оборудование
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Металлопрокат
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Программные продукты
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Системы безопасности
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Системы вентиляции
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Стройматериалы
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Дизайнерская мебель
                .footer-content__item
                    .footer-content__item-title Услуги
                    ul.footer-menu
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Автоматизация
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Аренда спецтехники
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Инженерные системы
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Металлоконструкции
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Отделка фасада
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Проектирование
                .footer-content__item
                    .footer-content__item-title Возможности
                    ul.footer-menu
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Оформление
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Кнопки
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Иконки
                        li.footer-menu__item
                            a.footer-menu__link(href="#") Элементы
                .footer-content__item
                    .footer-content__item-title.contacts-block(data='item__title') Наши контакты
                    ul.footer-contacts
                        li.footer-contacts__item
                            a.footer-contacts__link(href="+70000000000") +7 (000) 000-00-00
                            p Пн - Вс: 10.00 - 19.00
                        li.footer-contacts__item
                            span Челябинск, ул. Лермонтова 21, 3 этаж, офис 4
                        li.footer-contacts__item
                            a.footer-contacts__link.footer-contacts__link--mail(href="mail:no-reply@aspro-demo.ru") no-reply@aspro-demo.ru
        p.footer__copyright © Все права защищены

        include ../../components/modal/modal.pug
