block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="theme-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
		
		// Fonts
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet")
		// Styles
		link(rel="stylesheet" href="styles/libs.css")
		link(rel="stylesheet" href="styles/main.css")

		title #{title}
	body
		block content
		block scripts
