// Articles
section.articles
    .container
        a.section-link(href="#") Все статьи
        h2.articles__title Статьи
        .grid-container
            .item-1
                article
                    .articles-item.articles-item--big
                        img.articles-item__img(src="./img/articles/article-img-1.jpg" alt="")
                        .articles-item__text-inner
                            a.articles-item__category(href="#") Управление проектами
                            a.articles-item__title(href="#") На что обращать внимание малому бизнесу при выборе CRM-системы
                            p.articles-item__desc Чтобы разобраться в системах оптимизации, перестать думать, что это что-то потустороннее, сделать выбор и не испугаться внедрить — наша совсем небольшая статья.
                            span.articles-item__date 27 Февраля 2017
            .item-2
                article
                    .articles-item
                        img.articles-item__img(src="./img/articles/article-img-2.jpg" alt="")
                        .articles-item__text-inner
                            a.articles-item__category(href="#") Дизайн
                            a.articles-item__title(href="#") Виды газонных трав
                            span.articles-item__date 27 Февраля 2017
            .item-3
                article
                    .articles-item
                        img.articles-item__img(src="./img/articles/article-img-3.jpg" alt="")
                        .articles-item__text-inner
                            a.articles-item__category(href="#") Дизайн
                            a.articles-item__title(href="#") Дизайн интерьера. Стиль Фьюжн
                            span.articles-item__date 27 Февраля 2017
            .item-4
                article
                    .articles-item
                        img.articles-item__img(src="./img/articles/article-img-4.jpg" alt="")
                        .articles-item__text-inner
                            a.articles-item__category(href="#") Бизнес-советы
                            a.articles-item__title(href="#") Что учитывать, если вы собрались сделать в своём...
                            span.articles-item__date 27 Февраля 2017
            .item-5
                article
                    .articles-item
                        img.articles-item__img(src="./img/articles/article-img-5.jpg" alt="")
                        .articles-item__text-inner
                            a.articles-item__category(href="#") Повышение продаж
                            a.articles-item__title(href="#") Как увеличить продажи на 30% с помощью триггерных рассылок
                            span.articles-item__date 27 Февраля 2017