/* GENERAL */

.container {
    position: relative;
    @include container();
}

.row-flex {
    @include row-flex();

    &__col-3 {
        @include col();
        @include size(3);
    }

    &__col-9 {
        @include col();
        @include size(9);
    }
}

// Grid layout
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 27px 27px;
}

.item-1 {
    grid-area: 1 / 1 / 3 / 3;
}

.item-2 {
    grid-area: 1 / 3 / 2 / 4;
}

.item-3 {
    grid-area: 1 / 4 / 2 / 5;
}

.item-4 {
    grid-area: 2 / 3 / 3 / 4;
}

.item-5 {
    grid-area: 2 / 4 / 3 / 5;
}

@include lg-block() {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .item-1 {
        grid-area: 1 / 1 / 3 / 3;
    }

    .item-2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .item-3 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .item-4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .item-5 {
        grid-area: 4 / 2 / 5 / 3;
    }
}

@include sm-block() {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px 15px;
    }

    .item-1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .item-2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .item-3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .item-4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .item-5 {
        grid-area: 5 / 1 / 6 / 2;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel .owl-item img {
    display: inline-block;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    background-color: $base-blue-color;
}

.section-link {
    position: absolute;
    z-index: 10;
    top: 9px;
    right: 15px;
    color: $base-blue-color;

    &:hover {
        text-decoration: underline;
    }
}

.slick-dots {
    bottom: 20px;

    li {
        margin: 0;
        button {
            width: 10px;
            height: 10px;
            border: 1px solid #000000;
            border-radius: 50%;

            &::before {
                content: "";
            }
        }
    }

    .slick-active {
        button {
            background-color: #333333;
            border: 1px solid #333333;
        }
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

// Bread-crumbs
.bread-crumbs {
    &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 24px;

        color: #a1d3eb;
    }

    &__item {
        position: relative;
        margin-right: 18px;
        color: #393939;

        &::after {
            content: "";
            position: absolute;
            top: 8px;
            right: -12px;
            display: inline-block;
            width: 5px;
            height: 9px;

            background: url("../../img/svg/arrow-right.svg");
            background-repeat: no-repeat;
        }

        &:last-child {
            color: #cae6f3;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        font-size: 12px;
        line-height: 24px;

        color: #a1d3eb;
        transition: $base-transition;

        &:hover {
            color: #ffffff;
        }
    }
}

.content-header {
    padding-top: 40px;
    padding-bottom: 48px;
    background-color: $base-blue-color;

    &__title {
        @include lg(margin-top, 65px);
        margin-bottom: 19px;
        font-weight: 400;
        font-size: 31px;
        line-height: 30px;

        color: #ffffff;
    }
}

.content-wrapper {
    margin-top: -40px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.1);
}
