/* TYPOGRAPHY */

body {
    font-family: $base-typeface;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    // line-height: $base-line-height;
    color: $base-text-color;
}

h1 {
    font-size: 36px;
    margin-bottom: 21px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
    font-weight: 500;
}

/*
h3 {
    font-size: 24px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/

a {
    text-decoration: none;
}