/* TYPOGRAPHY */

body {
    font-family: $base-typeface;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    // line-height: $base-line-height;
    color: $base-text-color;
}

h1 {
    margin-bottom: 21px;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    margin-bottom: 38px;
    font-size: 25px;
    font-weight: 500;
    color: $second-black-color;
}

h3 {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #222222;
}

h4 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #222222;
}

a {
    text-decoration: none;

    &:visited {
        color: $base-blue-color;
    }
}